<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <a href="/" class="logo-holder">
      <img class="logo logo-dark" alt="logo" src="/assets/logo-dark.png">
    </a> 

  
    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
        </label>
      </nav>
    {% endif %}
  </div>
</header>