<div class="loading-spinner-container">
   <div class="loading-spinner"></div>
</div>
<header class="site-header" role="banner">
  <div class="logo-row">
     <a href="https://mechanicalrock.github.io/" class="logo-holder">
     <img class="logo logo-white" alt="logo" src="/assets/logo-white.png">
     </a> 
     <div class="header-description">
        <p>
           <b>
               We are leaders in modern technology practises; browse or search our collection of blogs below
           </b>
        </p>
     </div>
  </div>
  <div class="wrapper">
     {% assign default_paths = site.pages | map: "path" %}
     {% assign page_paths = site.header_pages | default: default_paths %}
     <div class="gcse-searchbox"></div>
     <div class="searchresults-modal">
        <div class="searchresults-modal-content">
           <div class="searchresults-modal-close" onclick="closeSearchResultsModal()">
              <p>×</p>
           </div>
           <div class="searchresults-modal-header-row">
              <div class="searchresults-modal-title"></div>
           </div>
           <div class="searchresults-modal-body">
              <div class="searchbox-row"></div>
              <div class="gcse-searchresults"></div>
           </div>
        </div>
     </div>
  </div>
  </div>
</header>
<script async src="https://cse.google.com/cse.js?cx=21d864d4651009588"></script>
<script src="/js/gcse-custom.js"></script>