.gsc-control-cse.gsc-control-cse-en {
    padding-left: unset;
    padding-right: unset;
    padding-top: unset;
    border: unset
}

.gsc-search-box table,
.gsc-above-wrapper-area table {
    border: unset;
    margin-bottom: unset;
}

.gsc-search-box table td,
.gsc-above-wrapper-area table td {
    border: unset;
}

.gsc-search-box table th,
table td {
    padding: unset;
}

.gsc-search-box a {
    padding-top: 7px;
}

/* Clear button */
.gsst_b .gsst_a .gscb_a {
    color: #231f20;
}

.gsst_b .gsst_a .gscb_a:hover {
    color:#e8e5e2;
}

/* Remove search button on click outline */
.gsc-search-button.gsc-search-button-v2 {
    outline: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    padding: 0.8em 1.4em;
    font-size: 1em;
    align-content: center;
    justify-content: center;
}

.gsc-search-button.gsc-search-button-v2 svg {
    width: 1.4em;
    height: 1.4em;
}

.gsc-search-button.gsc-search-button-v2:hover, .gsc-search-button.gsc-search-button-v2:focus {
    background-color: #e8e5e2;
}

/* Google search results */

/* Remove breadcrumbs */
.gs-webResult.gs-result .gsc-url-top {
    display: none;
}

/* Result title */
.gs-webResult.gs-result .gs-title a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b {
    font-size: 24px;
}

/* Result snippet and result information */
.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gsc-table-cell-snippet-close .gs-bidi-start-align.gs-snippet,
.gsc-orderby .gsc-orderby-label.gsc-inline-block  {
    display: none;
}

/* About x results (y seconds) */
.gsc-above-wrapper-area table td .gsc-result-info
{
    padding: 5px 15px;
    color: #3E3E3E;
    background-color: #fff;
}

/* Order by td */
.gsc-above-wrapper-area table td.gsc-orderby-container
{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/* Results sort dropdown */
.gsc-selected-option-container.gsc-inline-block,
.gsc-option-menu-container.gsc-inline-block .gsc-option-menu,
.gsc-option-menu .gsc-option-menu-item,
.gsc-option-menu-item.gsc-option-menu-item-highlighted:not(:hover) {
    background-color: #fff;
    color: #40bfb4;
    font-size: 13px;
}

.gsc-selected-option-container.gsc-inline-block,
.gsc-option-menu-container.gsc-inline-block .gsc-option-menu {
    border: 1px solid #40bfb4;
}

.gsc-option-menu-container.gsc-inline-block .gsc-option-menu{
    padding-top: 0px;
    padding-bottom: 0px;
}
.gsc-option-menu .gsc-option-menu-item{
    padding:0px 28px 0px 10px;
}

.gsc-selected-option-container.gsc-inline-block:active,
.gsc-selected-option-container.gsc-inline-block:hover,
.gsc-option-menu-item.gsc-option-menu-item-highlighted,
.gsc-option-menu-item:hover {
    color: #fff;
    border-color: #1da89c;
    background-color: #40bfb4;
}

.gsc-option-menu-item.gsc-option-menu-item-highlighted{
    font-weight: bold;
}

.gsc-results-wrapper-nooverlay .gsc-above-wrapper-area {
    border-bottom: none;
    padding-top: 0px;
}

/* Hide Search on Google footer */
.gcsc-more-maybe-branding-root {
    display: none;
}

/* Stylize pagination */
.gsc-cursor-box.gs-bidi-start-align {
    display: flex;
    justify-content: center;
}

.gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page {
    font-size: 16px;
    color: #40bfb4;
    outline: none;
}

.gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page:hover {
    color:#e8e5e2;
}

.google-result-meta {
    font-size: 14px;
    color: #828282;
}

/* Web results block */
.gsc-resultsbox-visible .gsc-resultsRoot{
    padding: 0px 20px;
}

/* Web result block */
.gsc-expansionArea .gsc-webResult.gsc-result {
    padding:0px 0px 15px 0px;
}

/* Web result link */
.gs-webResult.gs-result .gsc-thumbnail-inside,
.gs-webResult.gs-result .gsc-table-result {
    padding: unset;
}

/* No results message */
.gsc-webResult.gsc-result .gs-no-results-result .gs-snippet,
.gsc-webResult.gsc-result .gs-error-result .gs-snippet {
    background-color:unset;
    border: unset;
    display: inline-block;
    margin: unset;
    padding: unset;
    color: #231f20;
    font-size: 24px;
}


.searchresults-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.3);
}

.searchresults-modal-content {
    position: fixed;
    left: 20%;
    top: 15%;
    width: 60%;
    height: 80%;
    overflow: auto;
    border-radius: 5px;
}

.searchresults-modal-header-row {
    display: flex;
    background-color: #A1DFDB;
    padding: 0px 15px;
}

.searchresults-modal-title {
    flex-basis: 100%;
    color: #231F20;
    font-size: 30px;
}

.searchresults-modal-body {
    border-radius: 5px;
    padding-bottom: 5px;
    background: #fff;
}

.searchresults-modal-body .gsc-search-box.gsc-search-box-tools,
.searchresults-modal-body table.gsc-search-box {
    margin-bottom: 0px;
}

/* Search box row */
.searchresults-modal-body .searchbox-row {
    display: flex;
    justify-content: center;
    background-color: #A1DFDB;
    padding: 15px 10px;
}

/* Search box */
.searchresults-modal-body #___gcse_0  {
    width: 40%;
}

.searchresults-modal-body .gsc-input-box {
    border-color: #4D4D4D;
    background-color: #A1DFDB;
}

.searchresults-modal-body .gsc-input-box input{
    background-color: #A1DFDB;
}

/* Clear button */
.searchresults-modal-body .gsst_b .gsst_a .gscb_a {
    color:#4D4D4D;
}

.searchresults-modal-body .gsst_b .gsst_a .gscb_a:hover {
    color: #231f20;
}

/* Search button */
.searchresults-modal-body .gsc-search-button.gsc-search-button-v2{
    border-color: #4D4D4D;
    background-color: #A1DFDB;
}

.searchresults-modal-body .gsc-search-button.gsc-search-button-v2:hover{
    background-color: #40bfb4;
}

.searchresults-modal-body .gsc-search-button.gsc-search-button-v2 svg {
    fill: #4D4D4D;
}

.searchresults-modal-close {
    color: #4D4D4D;
    font-size: 27px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 15px 0 15px;
    background-color: #A1DFDB;
}

.searchresults-modal-close:hover {
    color:#e8e5e2;
}

.searchresults-modal-close p {
    margin-bottom: unset;
}

.searchresults-modal-close p:hover {
    color: #e8e5e2;
    cursor: pointer;
}

/* Loading Spinner */
.loading-spinner-container{
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loading-spinner {
    border: 12px solid #e8e5e2;
    border-top: 12px solid #4D4D4D;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
