body {
    font-size: 1em;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    color: #666;
    font-weight: 400
}


a, a:visited {
	color: #40BFB4;
}

.pager {
    display: flex;
}

.pagination {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
}

.pagination li {
    float: left;
    padding-right: 10px;
}

.social-media-list > li > a {
	float: right;
}

.footnote {
    font-size: "-2";
    color: #666;
}