---
layout: default
---

<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="home-page-posts">
    {{ content }}
    
    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}
  
  
    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <div class="post-snippet">
            {{ post.content | strip_html | truncatewords: 22}}
          </div>
        </li>
        {%- endfor -%}
      </ul>
  
      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          </ul>
        </div>
      {%- endif %}
  
    {%- endif -%}
  </div>
  
  </div>

<script async src="https://cse.google.com/cse.js?cx=21d864d4651009588"></script>
<script src="/js/paginate.js"></script>
<script>
  var totalPages = {{ paginator.total_pages }}
  var paginatePath = {{ site.paginate_path | replace: ':num', "" }};
</script>