---
layout: default
---

<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="gcse-search"></div>

    <div class="posts">
    {{ content }}
    
    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}
  
  
    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="/" class="first-page">&lt;&lt;</a></li>
            <li><a href="{{ paginator.previous_page_path }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path }}" class="next-page">{{ paginator.next_page }}</a></li>
            <li><a href="{{ site.paginate_path | replace: ':num', paginator.total_pages }}" class="last-page">&gt;&gt;</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}
  
    {%- endif -%}
  </div>
  
  </div>

<script async src="https://cse.google.com/cse.js?cx=21d864d4651009588"></script>
<script>
  var searchButtonExists = setInterval(() => {
    var searchButton = document.getElementsByClassName("gsc-search-button-v2")[0];
    if(searchButton)
    {
      searchButton.addEventListener("click", hidePosts);
      clearInterval(searchButtonExists);
    }
  }, 100);

  var clearButtonExists = setInterval(() => {
    var clearButton = document.getElementsByClassName("gsst_a")[0];
    if(clearButton)
    {
      clearButton.addEventListener("click", showPosts);
      clearInterval(clearButtonExists);
    }
  }, 100);

  var searchInputExists = setInterval(() => {
    var searchInput = document.getElementById("gsc-i-id1");
    if(searchInput)
    {
      searchInput.addEventListener("input", showPosts);
      clearInterval(searchInputExists);
    }
  }, 100);

  var posts = document.getElementsByClassName("posts");
  if(posts.length == 0)
  {
    console.error("Posts element not found.");
  }

  function hidePosts()
  {
    var searchInputBox = document.getElementsByClassName("gsc-input-box");
    if(searchInputBox.length == 0)
    {
      return;
    }

    var searchInput =  searchInputBox[0].getElementsByTagName("input");

    if(searchInput.length == 0 || !searchInput[0].value)
    {
      return;
    }

    var results = document.getElementsByClassName("gsc-results-wrapper-nooverlay")[0];

    results.style.display = "block";

    posts[0].style.display = "none";
  }

  function showPosts()
  {
    var searchInputBox = document.getElementsByClassName("gsc-input-box");
    if(searchInputBox.length == 0)
    {
      return;
    }

    var searchInput =  searchInputBox[0].getElementsByTagName("input");

    if(searchInput.length == 0 || searchInput[0].value)
    {
      return;
    }

    var results = document.getElementsByClassName("gsc-results-wrapper-nooverlay")[0];

    results.style.display = "none";

    posts[0].style.display = "block";
  }

</script>
