---
layout: default
---

<div class="home">

  <div class="breadcrumb-wrapper home">
    <a class="breadcrumb" href="/">Mechanical Rock Blogs <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="6.5" height="10">
      <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
    </a>
  </div>
  
  <h1 class="page-heading"><b>Most Recent Blogs</b></h1>
  <div class="home-page-posts">
    {{ content }}

    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      {% if post.hidden != true %}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if post.author -%}
        <span style="font-size: 0.9em; color: #828282">
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ post.author }}</span>
          </span>
        </span>
        {%- endif -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- for tag in post.tags limit:5 -%}
        <span style="margin-right: 3px">
          <a class="post-tag" href="/tags/#{{ tag }}">{{tag}}</a>
        </span>
        {%- endfor -%}
      </li>
      {% endif %}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
      </ul>
    </div>
    {%- endif %}

    {%- endif -%}
  </div>
</div>

<script>
  var totalPages = {{ paginator.total_pages }}
  var paginatePath = "{{ site.paginate_path | replace: ':num', '' }}"
</script>
<script src="/js/paginate.js"></script>