---
layout: default
---
<script type="text/javascript">
  window.addEventListener( "DOMContentLoaded", () => {
    if ( document.querySelector( "main" ) ) {
      document.querySelector( "main" ).style.backgroundColor = "#f5f5f5";
    }
  } )
</script>

<div class="breadcrumb-wrapper post">
  <a class="breadcrumb" href="/">Mechanical Rock Blogs <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="6.5" height="10">
    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
  </a>
  <span class="article-title">{{ page.title }}</span>
</div>

<article class="post h-entry" data-layoutversion="2" itemscope itemtype="http://schema.org/BlogPosting">

  {%- if page.image -%}
  <img class="main-image" alt="{{ page.title }}" src="{{ page.image }}" />
  {%- endif -%}
  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
    <h1 class="post-title p-name font-brand" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.tags.size > 0 -%}
    <strong>#</strong>
    {%- for tag in page.tags -%}
    <span style="margin-right: 3px">
      <a class="post-tag" href="/tags/#{{ tag }}">{{tag}}</a>
    </span>
    {%- endfor -%}
    {%- endif -%}
  </header>

  <div class="post-content e-content {{page.font}} highlight-{{page.highlight}}" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class=" u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/assets/lightbox.css">